body{
  margin: 0;
  min-width: 280px;
  font-family: Outfit;
}
.category-section {
  background-color: #f3f3f3;
  position: relative;
  padding: 2.5rem 0 2.5rem;
}
.container {
  margin: 0 10% 0;
  border-radius: 20px;
  display: flex;
  /* box-shadow: 0 20px 30px #e8e8e8; */
  position: relative;
  z-index: 1;
}
.items-container {
  display: flex;
  margin-top: -1rem;
  margin-bottom: -2rem;
}
.col-title {
  border-radius: 20px 0 0 20px;
  width: 32%;
  padding: 2rem 2rem 2.5rem;
  background-color: #fcfcfc;
  /* border-style: solid;
  border-width: 2px 3px 1px 2px;
  border-color: #fefefe white #eaeaea #eaeaea; */
  box-shadow: rgba(33, 35, 38, 0.1) -5px 10px 10px -10px;
}
.col-contents{
  border-radius: 0 20px 20px 0;
  width: 68%;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid;
  border-color: #c9c9c9 #c0c0c0 #e0e0e0 white;
  background-color: rgba(0,0,0,0.02);
  box-shadow: -3px 6px 19px -1px rgba(0,0,0,0.15) inset, 11px -10px 19px -1px rgba(255,255,255,1) inset;
  -webkit-box-shadow: -3px 6px 19px -1px rgba(0,0,0,0.15) inset, 11px -10px 19px -1px rgba(255,255,255,1) inset;
  -moz-box-shadow: -3px 6px 19px -1px rgba(0,0,0,0.15) inset, 11px -10px 19px -1px rgba(255,255,255,1) inset;
}
.item-col{
  width: 50%;
}
.col-right{
  margin-left: 0.8rem;
}
.item-box {
  color: white;
  border-radius: 15px;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0;
  position: relative;
  z-index: 1;
}
.box-green .item-box {
  background: linear-gradient(135deg, rgba(170,205,39,1) 30%, rgba(70,173,33,1) 100%);
}
.box-red .item-box {
  background: linear-gradient(135deg, rgba(251,93,48,1) 30%, rgba(231,22,55,1) 100%);
}
.box-gb .item-box {
  background: linear-gradient(135deg, rgba(72,229,132,1) 0%, rgba(78,152,203,1) 100%);
}
.box-sb .item-box {
  background: linear-gradient(135deg, rgba(98,206,245,1) 0%, rgba(31,119,183,1) 100%);
}
.box-orange .item-box {
  background: linear-gradient(135deg, rgba(250,175,42,1) 10%, rgba(213,73,42,1) 100%);
}
.box-purple .item-box {
  background: linear-gradient(135deg, rgba(244,52,133,1) 10%, rgba(108,0,211,1) 100%);
}

.text-green {
  background: linear-gradient(135deg, rgba(170,205,39,1) 30%, rgba(70,173,33,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.text-red {
  background: linear-gradient(135deg, rgba(251,93,48,1) 30%, rgba(231,22,55,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.text-gb {
  background: linear-gradient(135deg, rgba(72,229,132,1) 0%, rgba(78,152,203,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.text-sb {
  background: linear-gradient(135deg, rgba(98,206,245,1) 0%, rgba(31,119,183,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.text-orange {
  background: linear-gradient(135deg, rgba(250,175,42,1) 10%, rgba(213,73,42,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.text-purple {
  background: linear-gradient(135deg, rgba(244,52,133,1) 10%, rgba(108,0,211,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.item-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 1%;
  height: 100%;
  width: 95%;
  opacity: 0.8;
  background: inherit;
  border-radius: inherit;

  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);

  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.item-box:hover::after{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  z-index: -1;
  width: calc(100% + 4px);
  height: 100%;
  bottom: -4px;
  left: -2px;
}
h2{
  line-height: 1.1;
  font-weight: 600;
  font-size: 2.5rem;
  color: transparent;
  text-shadow: 4.5px 4.5px 5px rgba(255,255,255,0.2);
  margin: 0.1rem;
}
.de-emphasize{
  font-weight: 300;
}
h3{
  margin: 0.1rem 0.1rem 0.1rem;
  line-height: 0.95;
  font-size: 1.5rem;
  font-weight: 600;
}
p{
  margin: 0 0.1rem 0.1rem;
  line-height: 0.95;
  font-size: 1.2rem;
  font-weight: 500;
}
hr {
  border: 1px solid rgba(255,255,255,0.5);
}
.contact-details{
  font-weight: 400;
  font-size: 1rem;
}
.details-p{
  line-height: 1.1;
}
.content-br{
  display: block;
  content: "";
  margin-top: 5px;
}
.deco-circle{
  content: "";
  position: absolute;
  border-radius: 100%;
  z-index: 0;
}
a{
  text-decoration: none;
}
#deco-community-1 {
  background: radial-gradient(rgba(187,206,83,1) 10%, rgba(187,206,83,0) 70%);
  left: 0;
  top: 0;
  width: 350px;
  height: 350px;
}
#deco-community-2 {
  background: radial-gradient(rgba(110,178,69,1) 10%, rgba(110,178,69,0) 70%);
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
}


@media screen and (min-width: 980px) and (max-width: 1125px) {
  h2{
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 912px) and (max-width: 980px) {
    h2{
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 835px) and (max-width: 911px) {
    h2{
        font-size: 2.1rem;
    }
}
@media screen and (min-width: 750px) and (max-width: 834px) {
    h2{
        font-size: 2rem;
    }
}
@media screen and (max-width: 749px) {
  .category-section{
    padding: 1rem 0 1rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
    padding: 0 6% 0;
  }
  .items-container {
    margin: -2rem -17% 0;
    width: 134%;
  }
  .col-title {
    padding: 2.5rem 2rem 3.2rem;
    width: 100%;
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(33, 35, 38, 0.1) -10px -5px 10px -10px;
  }
  .col-contents {
    width: 100%;
    padding: 0rem 2rem 1.4rem;
    border-radius: 0 0 20px 20px;
    border-color: white #e0e0e0 #c0c0c0 #dfdfdf;
    box-shadow: -3px -1px 21px -1px rgba(0,0,0,0.03) inset, 11px 10px 19px -1px rgba(255,255,255,0.3) inset;
  }
  .col-left {
    margin-left: 0;
  }
}
@media screen and (max-width: 315px){
  h2{
    font-size: 2rem;
  }
}
